/* AJUSTES GLOBALES */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
    --colorPrincipal:rgb(6, 188, 243);
    --colorFondo: #0f0f0f;
    --colorTarjeta:#050505;
    --colorBoton:rgb(40, 56, 148);
    --colorBotonPulsado:rgb(67, 68, 158);
    --colorTexto:#f1f1f1;
}

*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-tap-highlight-color: transparent;
    color: var(--colorTexto);
}

html{
  scroll-snap-type: y mandatory;
}

/* MÉTODO FIRST MOBILE--------------- */

/* cabezera */

header{
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  width: 100vw;
  height: 70px;
  background-color: var(--colorFondo);
  z-index: 4;
}

.Logotipo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.Logotipo img{
  width: 54px;
  aspect-ratio: 1/1;
}

.Logotipo h1{
  font-size: 1.3rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.burgerShow{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 3;
  width: 40px;
  margin-left: 20px;
}

.burgerHide{
  display: none;
}

.relleno{
  width: 40px;
  margin-right: 20px;
}

.burger {
  position: relative;
  margin-left: 10px;
  width: 48px;           /* Aumenta el ancho del área de toque */
  height: 48px;          /* Aumenta el alto del área de toque */
  background: transparent;
  cursor: pointer;
  display: flex;         /* Centra las rayitas dentro del área */
  align-items: center;
  justify-content: center;
  padding: 0;
}
.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(0deg); 
  height: 2px;
  width: 25px;        
  background: rgb(255, 255, 255);
  border-radius: 5px;
  opacity: 1;
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 16px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 30px;
  transform-origin: left center;
  transform: translateX(-50%) translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 12px;
  left: 5px;
  height: 2px;
  border-radius: 25%;
  width: 30px;
}

.burger input:checked ~ span:nth-of-type(2) {
  transform: rotate(-45deg);
  top: 33px; 
  left: 4px;  
  height: 2px;
  border-radius: 25%;
  width: 30px;
}

.navBar{
    display: none;
}

.navBarMobile{
    position: fixed;
    top: 70px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80vw;
    max-width: 320px;
    min-width: 300px;
    height: calc(100vh - 70px);
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    animation: abrirMenu 200ms 1 ease-in;
}

.navBarMobile nav{
    padding-left: 40px;
}

.navBarMobile nav ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.navBarMobile nav ul li{
    list-style-type: none;
}

.navBarMobile nav ul li a{
    text-decoration: none;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
}

.seleccionado{
    background-color: var(--colorBoton);
    padding: 0 20px;
    border-radius: 20px;
    margin-left: -20px;
}

/* FONDO */

.fondo{
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(rgb(24, 95, 136), rgb(7, 7, 153));
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}

/* Animaciones del Scroll */

#area_perfil {
  transition: transform 0.3s ease-in-out; /* Transición suave */
}

#area_perfil.atraida {
  transform: scale(1.1); /* Escala la sección ligeramente al ser "atraída" */
  margin-bottom: 30px;
}

#contacto {
  transition: transform 0.3s ease-in-out; /* Transición suave */
}

#contacto.atraida {
  transform: scale(1.1); /* Escala la sección ligeramente al ser "atraída" */
  margin-bottom: 30px;
}

/* Bienvenida */

.bienvenida{
  width: 100vw;
  height: calc(100vh - 70px);
  max-height: 800px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text_bienvenida{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text_bienvenida h2{
  font-size: 3rem;
  font-family: 'Pixelify Sans', sans-serif;
  text-shadow: 1px 1px 5px black;
}

.text_bienvenida p{
  font-size: 1.6rem;
  text-shadow: 1px 1px 5px black;
  font-family: 'Quicksand', sans-serif;
}

.boton_form{
  width: 90%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.boton_form a{
  border-radius: 0 30px 30px 30px;
  border: solid 1px black;
  box-shadow: 2px 2px 5px black;
  background-color: var(--colorBoton);
  font-size: 1.7rem;
  padding: 10px 15px;
  text-shadow: 1px 1px 5px black;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
}

.boton_form a:hover{
  background-color: var(--colorBotonPulsado);
  color: white;
  transition: all 300ms ease-in;
  box-shadow: 2px 2px 5px black;
}

/* area de widget de perfil */

#area_perfil{
  /* background: radial-gradient(rgb(24, 26, 27), rgb(36, 36, 99), rgb(21, 99, 92)); */
  height: calc(100vh - 70px);
  max-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.area_perfil{
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.widget_perfil{
  width: 80%;
  min-width: 300px;
  max-width: 600px;
  border-radius: 15px;
  background-color: rgb(2, 13, 24);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.perfil{
  width: 90%;
  height: 40%;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  gap: 10%;
}

.perfil_elements{
  width: 90%;
  min-width: 200px;
  max-width: 300px;
  margin: 20px;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  gap: 10%;
}

.imagen_usuario{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.imagen_usuario img{
  width: 80px;
  height: 80px;
  border-radius: 50px;
}

.imagen_usuario img:hover{
  border-radius: 10px;
  transition: all 500ms ease-in;
  cursor: pointer;
}

.skills{
  margin: 10px;
  width: 90%;
  height: 60%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.skill{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5em;
  padding: 0px 10px;
  border-radius: 20px;  
}

.skill:hover{
  filter: brightness(120%);
  transition: all 300ms ease-in;
  cursor: pointer;
}

#html_skill{
  background-color: rgb(230, 92, 12);
}
#css_skill{
  background-color: rgb(13, 93, 124);
}

#html_skill{
  background-color: rgb(179, 72, 39);
}

#js_skill{
  background-color: rgb(158, 114, 47);
}

#bt_skill{
  background-color: rgb(21, 56, 151);
}
#vue_skill{
  background-color: rgb(67, 35, 119);
}
#python_skill{
  background-color: rgb(47, 122, 24);
}
#cpp_skill{
  background-color: rgb(13, 41, 78);
}
#python_skill{
  background-color: rgb(47, 122, 24);
}
#responsive_skill{
  background-color: rgb(122, 24, 65);
}
#figma_skill{
  background-color: rgb(151, 95, 73);
}

#sql_skill{
  background-color: rgb(4, 51, 153);
}

#arduino_skill{
  background-color: rgb(65, 117, 115);
}

#flask_skill{
  background-color: rgb(177, 71, 22);
}

/* Proyectos o articulos*/
#proyectos{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.tarjeta{
  width: 95%;
  max-width: 700px;
  background-color: var(--colorTarjeta);
  border-radius: 20px;
  box-shadow: 1px 1px 5px white;
  padding: 30px 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.capsula{
  width: 95%;
  max-width: 700px;
  background-color: var(--colorTarjeta);
  border-radius: 20px;
  box-shadow: 1px 1px 5px white;
  padding: 20px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 5px;
}

.box-fixer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.imagen_tarjeta img{
  width: 100%;
}

.imagen_capsula img{
  width: 150px;
  border-radius: 10px;
}

.titular h3{
  padding: 5px 10px;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 2rem;
}

.texto_tarjeta p{
  padding: 5px 10px;
  font-size: 1rem;
}

.texto_capsula p{
  display: none;
}

.boton_tarjeta{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.boton_tarjeta a{
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  font-size: 1.2rem;
  margin-right: 20px;
  background-color: var(--colorBoton);
  text-decoration: none;
  border-radius: 20px;
  font-family: 'Quicksand', 'Sans Serif';
}

.boton_tarjeta a img{
  width: 30px;
  height: 30px;
}

.boton_tarjeta a:hover{
  background-color: var(--colorBotonPulsado);
  color: white;
  transition: all 300ms ease-in;
  box-shadow: 2px 2px 5px black;
}

.boton_capsula{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60px;
}

.boton_capsula a{
  width: 20px;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  font-size: 1.2rem;
  margin-right: 20px;
  background-color: var(--colorBoton);
  text-decoration: none;
  border-radius: 20px;
  font-family: 'Quicksand', 'Sans Serif';
}

.boton_capsula a img{
  width: 30px;
  height: 30px;
}

.boton_capsula a:hover{
  background-color: var(--colorBotonPulsado);
  color: white;
  transition: all 300ms ease-in;
  box-shadow: 2px 2px 5px black;
}


/* contacto */

#contacto{
  height:100vh;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
}

.texto_contacto{
  font-size: 1.5rem;
  font-family: 'Pixelify Sans', sans-serif;
  text-shadow: 1px 1px 5px black;
  text-align: center;
  margin-bottom: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.whatsapp {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #00ff00;
}

.card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.linkedin {
  margin-top: 1.5em;
  margin-left: -0.9em;
  fill: #0077b5;
}

.card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.github {
  margin-top: -0.6em;
  margin-left: 1.2em;
}

.card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.discord {
  margin-top: -0.9em;
  margin-left: -1.2em;
  fill: #8c9eff;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #00ff00;
}

.card1:hover .whatsapp {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #0077b5;
}

.card2:hover .linkedin {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}

.card3:hover .github {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}

.card4:hover .discord {
  fill: white;
}

/* Boton de telegram */
.telegram {
  transition: none 0.5s ease;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  width: 130px;
  height: 50px;
  gap: 10px;
  border: none;
  background-color: rgb(42 171 238);
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.telegram-text {
  transition: none 0.3s ease;
  font-weight: bold;
  font-size: 1rem;
}

.telegram:hover .telegram-text {
  display: none;
  position: absolute;
}

.telegram-svg {
  width: 23px;
  height: 23px;
  transition: 0.8s;
}

.telegram:hover .telegram-svg {
  margin-left: 40px;
  display: block;
  transform: rotate(50deg);
}

/* Informacion de la empresa */

#informacionEmpresa{
  height: calc(100vh - 140px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.areaIzquierdaInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.areaIzquierdaInfo img{
  width: 80%;
  max-width: 300px;
}

.areaDerechaInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.areaDerechaInfo p{
  text-align: center;
  font-size: 1.5em;
  width: 80%;
}

.areaDerechaInfo b{
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 1.8em;
}


/* pie de página */

footer{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--colorTarjeta);
  margin-bottom: 0px;
}

footer p{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}


.mensajeImgOff{
  display: none;
}

.mensajeImgOn{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ANIMACIONES GENERALES */

@keyframes abrirMenu{
  0%{
    transform: translateX(-500px);
  }
  20%{
    transform: translateX(-400px);
  }
  40%{
    transform: translateX(-300px);
  }
  60%{
    transform: translateX(-200px);
  }
  80%{
    transform: translateX(-100px);
  }
  100%{
    transform: translateX(-50px);
  }
}

/* Adaptaciones a otros tamaños de pantalla */

@media (min-width:600px){
  #informacionEmpresa{
    flex-direction:row;
    max-width: 700px;
    margin: 0 auto;
  }

  .areaIzquierdaInfo img{
    min-width: 200px;
  }

  .areaDerechaInfo p{
    text-align: left;
  }
}